<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::admin-nav"></nav>
<div class="container" style="padding-right: 200px; padding-left: 200px;">
    <div class="border border-gray p-3 bg-white position-relative" th:each="chat : ${chatList}">
        <a th:href="@{/admin/chat/{roomId}(roomId=${chat.getRoomId()})}">
            <div th:if="${chat.getConfirmed() == false}">
                <div class="rounded-circle bg-danger position-absolute"
                     style="width: 14px; height: 14px; top: 10px; left: 1px;"></div>
            </div>
            <div>
                <div th:text="${chat.getSender().getId()} + ': ' + ${chat.getContent()}">유저1: 안녕하세요</div>

                <div th:text="${chat.getSendDate()}">0000년00월00일 00:00</div>
            </div>
        </a>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
