<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<nav th:replace="fragments/nav::admin-nav"></nav>
<body>
<div class="container">
    <h2>관리자 대시보드</h2>
    <div class="d-flex">
        <div class="border border-1" style="width: 200px; height: 300px;"></div>
        <div class="border border-1" style="width: 200px; height: 300px;"></div>
        <div class="border border-1" style="width: 200px; height: 300px;"></div>
    </div>
</div>
</body>
</html>
