<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<nav th:replace="fragments/nav::admin-nav"></nav>
<body>
<h3>권한 확인 및 부여 페이지</h3>
<div class="container">
    <div class="row">
        <span class="col-2">이름</span>
        <span class="col-2">권한</span>
        <span class="col-2">가입일</span>
    </div>
    <div class="row" th:each="account : ${accountList}">
        <span class="col-2" th:text="${account.getUsername()}">홍길동</span>
        <span class="col-2" th:text="${account.getRole()}">ROLE_USER</span>
        <span class="col-2" th:text="${#temporals.format(account.getJoinedAt(), 'yyyy년 M월 d일')}"></span>
    </div>
</div>
</body>
</html>
