<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<nav th:replace="fragments/nav::admin-nav"></nav>
<body>
<div class="container">
    <h3>회원 관리</h3>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>이름</th>
            <th>권한</th>
            <th>가입일</th>
            <th>권한 변경</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accountList}">
            <th th:text="${account.getId()}">111</th>
            <th th:text="${account.getUsername()}">홍길동</th>
            <th th:text="${account.getRole()}">ROLE_USER</th>
            <th th:text="${#temporals.format(account.getJoinedAt(), 'yyyy년 M월 d일')}"></th>
            <th><a th:href="@{/admin/manage/{accountId}(accountId = ${account.getId()})}">권한 변경</a></th>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>
