<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container" th:object="${order}">
    <div th:if="${message}">
        <p th:text="${message}">redirectflashattributes</p>
    </div>
    <h4>주문 상세</h4>
    <div>
        <span th:text="*{#temporals.format(getOrderDate(), 'yyyy. M. d')}">2022.2.2</span>
        <span>주문</span>
        <span>주문번호</span>
        <span th:text="*{getId()}">000</span>
    </div>


    <div>
        <span>주문 상태</span>
        <span th:text="*{getOrderStatusKo()}">입금대기중</span>
    </div>

    <div th:each="cart: *{getCarts()}" class="d-flex">
        <img style="width: 80px; height: 80px;" th:src="${cart.getItem().getCoverPhotoPath()}" alt="">
        <div>
            <div th:text="${cart.getItem().getName()}">상품이름</div>
            <div th:text="${cart.getPrice()}">가격</div>
            <div>원</div>
            <div th:text="${cart.getQuantity()}">수량</div>
            <div>개</div>
        </div>
    </div>

    <!--    <div>-->
    <!--        <span>결제 방식 :</span>-->
    <!--        <span th:text="*{paymentMethod}">000</span>-->
    <!--    </div>-->


    <div class="mt-4">
        <div>받는사람 정보</div>
        <table>
            <tr>
                <td style="width: 140px;">받는사람</td>
                <td th:text="*{getBuyerName()}"></td>
            </tr>
            <tr>
                <td>연락처</td>
                <td th:text="*{getBuyerPhone()}"></td>
            </tr>
            <tr>
                <td>받는 주소</td>
                <td th:text="*{getDestinationAddress() + getDestinationAddressDetail()}"></td>
            </tr>
            <tr>
                <td>배송 요청사항</td>
                <td th:text="*{getShippingRequests()}"></td>
            </tr>
        </table>
    </div>

    <div class="mt-4">
        <div>결제 정보</div>
        <table>
            <tr>
                <td>결제수단</td>
                <td th:text="*{getBuyerName()}"></td>
            </tr>
            <tr>
                <td>-------</td>
                <td></td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>
