<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container">
    <div class="container">
        <h3>주문 목록</h3>
        <div class="col-8 border border-dark container mb-4 pt-4 pb-4" th:each="order : ${orderList}">
            <!--            <div>상품 번호 : <span th:text="${order.getId()}">00</span>번</div>-->
            <div class="row">
                <div class="col-2" th:text="${order.orderStatus}">배송상태</div>
                <div th:if="${order.getArrivalDateTime()}">
                    <span th:text="${order.getArrivalDateTime()}">3/16(수)</span>
                    도착
                </div>
                <div th:unless="${order.getArrivalDateTime()}">
                    <span th:text="${order.getOrderDelivery().getExpectedArrivalFrom()}">3/16(수)</span>
                    도착예정
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <div class="border border-dark" style="width:100px; height:100px;">사진</div>
                </div>
                <div class="row container col-10">
                    <div class="row col-7 border border-dark" th:text="${order.getOrderedItem().getName()}">제품명</div>
                    <div class="row col-7">
                        <div>배송 요청사항 : <span th:text="${order.shippingRequests}">배송중</span></div>
                    </div>
                </div>
            </div>

            <div class=" col-2 border border-dark ">
                <a class="btn btn-primary" th:href="@{/order/{orderId}(orderId = ${order.getId()})}">주문 상세보기</a>

                <a class="btn btn-primary"
                   th:href="@{/shiptrack/{deliveryId}(deliveryId = ${order.getOrderDelivery().getId()})}">배송
                    상태</a>
            </div>


        </div>


    </div>
</div>
</body>
</html>
