<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<script th:inline="javascript">
    function format(status) {
        switch (status) {
            case [[${T(com.project.market.modules.order.entity.OrderStatus).WAITING}]]:
                return "입금 대기중"

        }
    }
</script>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container">
    <h3 class="mt-3 mb-3" th:text="|전체 주문 내역 ${orderList.size()}|">전체 주문 내역</h3>
    <div class="p-2 d-flex border-dark border" th:each="order : ${orderList}">
        <!--            <div>상품 번호 : <span th:text="${order.getId()}">00</span>번</div>-->
        <div style="width: 20em;">
            <div class="" th:text="${order.orderStatus}">배송상태</div>
            <div>주문일<span th:text="${#temporals.format(order.getOrderDateTime(), 'yyyy년 M월 d일')}"></span></div>
            <div>결제금액<span th:text="${order.getTotalPrice()}">15000</span>원</div>
            <a th:href="@{/order/{orderId}(orderId = ${order.getId()})}">주문 상세보기</a>
        </div>

        <div>
            <div class="d-flex">
                <div class="border border-dark" style="width:100px; height:100px;">사진</div>

                <div class="p-1">
                    <div th:text="${order.getOrderedItem().getName()}">제품명</div>
                    <!--                    TODO 주문 상태-->
                    <div class="text-danger">
                        <span th:text="${order.getOrderStatusKo()}"></span>
                    </div>
                    <div th:if="${order.getArrivalDateTime()}">
                        <span th:text="${order.getArrivalDateTime()}">3/16(수)</span>
                        도착
                    </div>
                    <div th:if="${order.getOrderStatus()} != ${T(com.project.market.modules.order.entity.OrderStatus).WAITING}">
                        <span th:text="${order.getOrderDelivery().getExpectedArrivalFrom()}">3/16(수)</span>
                        도착예정
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2">
                <button class="btn-sm">주문 취소</button>
                <a class="btn-sm"
                   th:href="@{/shiptrack/{deliveryId}(deliveryId = ${order.getOrderDelivery().getId()})}">배송
                    조회</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>
