<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<script th:inline="javascript">
    function openPopup() {
        new daum.Postcode({
            oncomplete: function (data) {
                let zonecode = document.getElementById("zonecode")
                zonecode.value = data.zonecode
                let roadAddress = document.getElementById("roadAddress")
                roadAddress.value = data.roadAddress
            }
        }).open();
    }

    function purchase() {
        const items = [[${items}]];
        const shippingRequests = $('#shippingRequests').val();
        const recipient = $('#recipient').val();
        const recipientPhone = $('#recipientPhone').val();
        const destinationZoneCode = $('#zonecode').val();
        const destinationAddress = $('#roadAddress').val();
        const destinationAddressDetail = $('#addressDetail').val();
        const paymentMethod = $(':radio[name="paymentMethod"]:checked').val();

        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $.ajax({
            url: "/purchase",
            method: "POST",
            data: {
                items,
                shippingRequests,
                recipient,
                recipientPhone,
                destinationZoneCode,
                destinationAddress,
                destinationAddressDetail,
                paymentMethod
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token)
            }
        }).done(function (res, status) {
            if (res.paymentMethod === "nobank") {
                // 무통장 결제(계좌번호) 페이지로 이동
                location.href = "/nobank/" + res.orderId
            }
        })
    }

</script>
<div class="container" th:object="${orderForm}">
    <h3 class="col-12 mt-5">주문 결제</h3>
    <form th:action="@{/purchase}" th:method="post">
        <input type="hidden" name="items" th:value="${items}">
        <div class="row justify-content-md-center mt-3">
            <div class="col-8">
                <div class="row container pt-4 pb-4 border-dark border bg-white">

                    <div>
                        <h3>배송지 정보</h3>
                    </div>

                    <div>이름</div>
                    <div class="input-group ">
                        <input id="recipient" class="form-control col-5" type="text" name="recipient"
                               th:value="${account.getUsername()}">
                    </div>

                    <div>연락처</div>
                    <div class="input-group ">
                        <input id="recipientPhone" class="form-control col-5" type="text" name="recipientPhone">
                    </div>

                    <div>주소</div>
                    <div class="input-group ">
                        <input id="zonecode" class="form-control col-5 bg-white" type="text"
                               th:field="*{destinationZoneCode}"
                               readonly>
                        <div class="col-4"></div>
                        <button type="button" onclick="openPopup()" id="modify" class="btn btn-outline-info col-3 ">배송지
                            변경
                        </button>
                    </div>


                    <div class="input-group ">
                        <input id="roadAddress" class="form-control col-5 bg-white" type="text"
                               th:field="*{destinationAddress}"
                               placeholder="주소검색결과" readonly>
                    </div>


                    <div class="input-group ">
                        <input id="addressDetail" class="form-control col-5" type="text"
                               th:name="*{destinationAddressDetail}"
                               placeholder="상세주소">
                    </div>


                    <div>배송 요청사항(200자 이내)</div>
                    <div class="input-group ">
                        <textarea id="shippingRequests" rows="3" style="resize: none" class="form-control col-5"
                                  type="text"
                                  name="shippingRequests"></textarea>
                    </div>
                </div>

                <div class="row container border-dark border pt-4 mt-4 pb-4 bg-white">
                    결제 방식
                    <input type="radio" name="paymentMethod" value="card" checked>
                    <label>카드</label>
                    <input type="radio" name="paymentMethod" value="nobank">
                    <label>무통장</label>
                </div>
            </div>

            <div class="col-4 border-dark border bg-white">
                <div class="fw-bold" style="font-size: 22px;">주문상품</div>
                <div class="d-flex justify-content-between p-2" th:each="cart : ${cartItems}">
                    <div class="border border-dark" style="width: 100px; height: 100px; margin-right: 10px;">상품 이미지
                    </div>
                    <div>
                        <div style="font-size: 20px;" th:text="${cart.getItem().getName()}">상품명</div>
                        <div th:text="${cart.getQuantity() + '개'}">수량</div>
                        <div th:text="${cart.getPrice()} + '원'">00000원</div>
                    </div>
                </div>

                <div class="border-bottom border-gray d-flex justify-content-between p-2">
                    <div class="">배송비</div>
                    <div class="" th:text="${deliveryFee}">000</div>
                </div>
                <div class="border-bottom border-gray d-flex justify-content-between p-2">
                    <div class="">총 결제금액</div>
                    <div class="" th:text="${totalPrice}">000</div>
                </div>
                <button type="button" onclick="purchase()" class="btn btn-primary">결제하기</button>
            </div>
        </div>

    </form>

</div>
<footer th:replace="fragments/footer::footer"></footer>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>
