<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container">
    <h2>상품등록 폼</h2>
    <div th:object="${productForm}">
        <form th:action="@{/products/enroll}" method="post">
            <p class="mt-3">상품 이름</p>
            <input type="text" class="form-control" th:field="*{name}" placeholder="상품등록">
            <p class="mt-3">상품 가격</p>
            <input type="text" class="form-control" th:field="*{price}" placeholder="가격">
            <p class="mt-3">상품 수량</p>
            <input type="text" class="form-control" th:field="*{quantity}" placeholder="수량">
            <p class="mt-3">미리보기 이미지</p>
            <input type="text" class="form-control" th:field="*{coverPhoto}" placeholder="배경 이미지">
            <p class="mt-3">상세 이미지</p>
            <input type="text" class="form-control" th:field="*{photo}" placeholder="상세 이미지">

            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>
</div>
</body>
</html>
