<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container" style="padding-right: 200px; padding-left: 200px;">
    <div th:object="${itemForm}" class=" mt-5">
        <h2 class="m-0">상품등록</h2>
        <form th:action="@{/product/enroll}" method="post">


            <div class="mt-3">상품 이름</div>
            <input type="text" class="form-control w-100" th:field="*{name}" placeholder="상품 이름" required>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"></small>
            <input type="text" class="form-control w-100 mt-3" placeholder="Tags.">

            <div class="mt-3">상품 가격</div>
            <input type="number" class="form-control w-100" th:field="*{price}" placeholder="가격" required>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('price')}"
                   th:errors="*{price}"></small>

            <div class="mt-3">미리보기 이미지</div>
            <input type="text" class="form-control w-100" th:field="*{coverPhoto}" placeholder="배경 이미지">


            <div class="mt-3">상세 이미지</div>
            <input type="text" class="form-control w-100" th:field="*{photo}" placeholder="상세 이미지">


            <div class="mt-3">상품 설명</div>
            <textarea type="text" class="form-control w-100" style="resize: none" th:field="*{description}"
                      placeholder="상품 설명" rows="14" required></textarea>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}"
                   th:errors="*{description}"></small>

            <div>
                <input type="checkbox" th:field="*{post}" value="true">
                <label>택배배송</label>
                <input type="checkbox" th:field="*{direct}" value="true">
                <label>직거래</label>
            </div>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('errorMessage')}"
                   th:errors="*{errorMessage}"></small>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-custom" style="width: 100px;">등록</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>
