<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    const deleteFavorite = (itemId) => {
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $.ajax({
            url: "/favorite/toggle",
            method: "POST",
            data: {
                itemId: itemId
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token)
            }
        }).done(function (result, status, responseObj) {
            if (result === "delete") {
                let item = document.getElementById("item" + itemId);
                item.remove()
            }
        })
    }
</script>
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div id="wrapper" class="container" style="padding-right: 200px; padding-left: 200px;">

    <div class="fs-4">찜 리스트 <span th:text="${favoriteList.size()}">00</span></div>

    <div th:id="'item' + ${item.getId()}" th:each="item : ${favoriteList}" class="border border-gray p-3 mt-4">
        <div class="d-flex justify-content-between aic">
            <a th:href="@{/product/{itemId}(itemId = ${item.getId()})}">
                <div class="d-flex">
                    <div class="border border-gray" style="width: 100px; height: 100px;">사진</div>
                    <div>
                        <div th:text="${item.getName()}">상품 이름</div>
                        <div th:text="${item.getPrice()}">20,000원</div>
                    </div>
                </div>
            </a>
            <div class="d-flex flex-column">
                <div class="btn btn-custom" style="height: 30px;">장바구니 담기</div>
                <button th:onclick="deleteFavorite([[${item.getId()}]])" class="btn btn-custom mt-3" style="height: 30px;">삭제</button>
            </div>
        </div>


    </div>

</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
