<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    const deleteFavorite = (itemId) => {
        $.ajax({
            url: "/favorite/toggle",
            method: "POST",
            data: {
                itemId: itemId
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader(getCsrfHeader(), getCsrfToken())
            }
        }).done(function (result, status, responseObj) {
            if (result === "delete") {
                let item = document.getElementById("item" + itemId);
                item.remove()
            }
        })
    }

    const addCart = (itemId) => {
        // $.ajax({
        //     url: "/cart",
        //     method: "POST",
        //     data: {
        //         itemId,
        //         quantity: 1
        //     },
        //     beforeSend: function (xhr) {
        //         xhr.setRequestHeader(getCsrfHeader(), getCsrfToken())
        //     }
        // }).done(function (res, status) {
        //     alert(res);
        // })
        location.href = "/product/" + itemId;
    }
</script>
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div id="wrapper" class="container" style="padding-right: 200px; padding-left: 200px;">

    <div class="fs-4">찜 리스트 <span th:text="${favoriteList.size()}">00</span></div>

    <div th:id="'item' + ${item.getId()}" th:each="item : ${favoriteList}" class="border border-gray mt-4 bg-white"
    style="padding: 10px 35px;">
        <div class="d-flex justify-content-between aic">
            <a th:href="@{/product/{itemId}(itemId = ${item.getId()})}">
                <div class="d-flex">
                    <div style="width: 120px; height: 120px;">
                        <img class="w-100 h-100" th:src="${item.getCoverPhotoPath()}" alt="">
                    </div>
                    <div style="margin: 20px 15px;">
                        <div class="fw-bold" th:text="${item.getName()}">상품 이름</div>
                        <div class="price-font">
                            <span class="fw-bold" th:text="${#numbers.formatInteger(item.getPrice(), 0, 'COMMA')}">
                                20,000원
                            </span>
                            원
                        </div>
                    </div>
                </div>
            </a>
            <div class="d-flex flex-column">
                <div th:onclick="addCart([[${item.getId()}]])" class="btn btn-custom d-flex jcc aic" style="height: 30px;">
                    <span>구매하기</span>
                </div>
                <button th:onclick="deleteFavorite([[${item.getId()}]])" class="btn btn-custom mt-3 d-flex jcc aic"
                        style="height: 30px;">삭제
                </button>
            </div>
        </div>


    </div>

</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
