<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container">
    <h3>상품 목록</h3>
    <div th:each="item : ${itemList}">
        <a th:href="@{/products/deal/{itemId}(itemId = ${item.getId()})}">
            <div>
                상품명 :
                <span th:text="${item.getName()}"></span>
            </div>
            <div>
                가격 :
                <span th:text="${item.getPrice()}"></span>
            </div>
        </a>
    </div>
</div>
</body>
</html>
