<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container-xl">
    <div class="row mt-3">
        <h3 class="col">상품 목록</h3>
        <select class="col-2">
            <option value="추천순">추천순</option>
            <option value="추천순">평점순</option>
            <!--            <a th:href="@{/products/list(order='popular')}">인기순</a>-->
            <!--            <a th:href="@{/products/list(order='recent')}">최신순</a>-->
        </select>
        <a class="btn btn-primary" th:href="@{/products/enroll}">상품 등록</a>
    </div>
    <div class="row border border-dark mt-3">
        <div class="col-2">
            <span>태그 목록</span>
            <div th:each="tag : ${tagList}">
                <button class="badge" th:onclick="|location.href='@{/products/list(tag=${tag.getTitle()})}'|"
                        th:text="${tag.getTitle()}">태그
                </button>
            </div>
        </div>
        <div class="col row row-cols-4">
            <div class="col border border-dark container" th:each="item : ${itemList}">
                <a th:href="@{/deal/{itemId}(itemId = ${item.getId()})}">
                    <div style="height: 150px;">이미지</div>
                    <div>
                        상품명 :
                        <span th:text="${item.getName()}"></span>
                    </div>
                    <div>
                        가격 :
                        <span th:text="${item.getPrice()}"></span>
                    </div>
                    <div>
                        등록일자 :
                        <span th:text="${#temporals.format(item.enrolledDateTime , 'yyyy-MM-dd')}"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div>
<!--        <div th:if="${!itemList.isEmpty()}">-->
<!--&lt;!&ndash;            T(Math).floor(pageNumber / pageSize) * pageSize + 1&ndash;&gt;-->
<!--            <nav th:with="-->
<!--                pageNumber = ${itemList.pageable.pageNumber},-->
<!--                pageSize = ${itemList.pageable.pageSize},-->
<!--                totalPages = ${itemList.totalPages},-->
<!--                startPage = ${5},-->
<!--                tempEndPage = ${startPage + pageSize - 1},-->
<!--                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"-->
<!--                 aria-label="Page navigation"-->
<!--            >-->
<!--                <ul class="pagination ">-->

<!--                    <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'" class="page-item">-->
<!--                        <a class="page-link" th:href="@{/products/list(page=1)}">-->
<!--                            <span>&laquo;</span>-->
<!--                            <span class="sr-only">First</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li th:classappend="${itemList.first} ? 'disabled'" class="page-item">-->
<!--                        <a class="page-link"-->
<!--                           th:href="${itemList.first} ? '#' : @{/products/list(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}"-->
<!--                           aria-label="Previous">-->
<!--                            &lt;!&ndash; 개인적으로 int 로 변환하는 법을 몰라서 이렇게 길어졌습니다 &ndash;&gt;-->
<!--                            <span aria-hidden="true">&lt;</span>-->
<!--                            <span class="sr-only">Previous</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}"-->
<!--                        th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">-->
<!--                        <a th:text="${page}" class="page-link" th:href="@{/products/list(page=${page})}"></a>-->
<!--                    </li>-->

<!--                    <li th:classappend="${itemList.last} ? 'disabled'" class="page-item">-->
<!--                        <a class="page-link"-->
<!--                           th:href="${itemList.last} ? '#' : @{/products/list(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)})}"-->
<!--                           aria-label="Next">-->
<!--                            <span aria-hidden="true">&gt;</span>-->
<!--                            <span class="sr-only">Next</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li th:classappend=" ${T(Math).floor(totalPages/10)*10 <= startPage} ? 'disabled'" class="page-item">-->
<!--                    <li th:classappend=" ${5 <= startPage} ? 'disabled'" class="page-item">-->
<!--                        <a class="page-link" th:href="@{/products/list(page=${totalPages})}">-->
<!--                            <span>&raquo;</span>-->
<!--                            <span class="sr-only">First</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
    </div>

</div>
</body>
</html>
