<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<script th:inline="javascript">
    const favoriteToggle = () => {
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        const itemId = [[${item.getId()}]]
        $.ajax({
            url: "/favorite/toggle",
            method: "POST",
            data: {
                itemId: itemId
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token)
            }
        }).done(function (result, status, responseObj) {
            let btn = document.getElementById("favorite-btn")
            if (result === "add") {
                btn.style.borderColor = '#DB0A1F'
                btn.style.color = '#DB0A1F'
            }
            if (result === "delete") {
                btn.style.borderColor = '#2d2d2d'
                btn.style.color = '#2d2d2d'
            }
        })
    }
</script>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container bg-white" style="width: 1000px;">
    <div class=" d-flex justify-content-between pt-4" th:object="${item}">

        <div style="width: 400px; height: 400px;"
             class="justify-content-center d-flex align-items-center border border-dark">
            <span th:text="*{photo}"></span>
        </div>


        <div style="width: 500px;" class="">
            <div class="d-flex justify-content-between">
                <!--                상품 이름-->
                <div>
                    <span class="fs-4" th:text="*{name}"></span>
                </div>
                <!--                -->
                <!--                -->
                <!--                -->
                <!--                -->
                <!--                -->
                <!--                -->

                <button onclick="favoriteToggle()" id="favorite-btn"
                        class="rounded-circle d-flex jcc aic"
                        th:style="'width: 46px; height: 46px; border: solid 2px;' + ${favorite ? 'border-color: #DB0A1F; color: #DB0A1F' : 'border-color: #2d2d2d; color: #2d2d2d'}">
                    <span id="favorite-icon" class="material-icons md-36">favorite_border</span>
                </button>
            </div>

            <div class="d-flex">
                <div th:each="tag : *{tags}" style="margin-right: 4px;">
                    <!-- 태그 목록-->
                    <div class="badge bg-secondary rounded-pill" style="font-size: 11px;"
                         th:text="'# ' + ${tag.getTitle()}">
                        tag
                    </div>
                </div>
            </div>


            <div>
                <span class="fs-4" th:text="*{#numbers.formatInteger(price, 0, 'COMMA')} + ' 원'"></span>
            </div>

            <div>
                <span th:text="'등록 일자: ' + *{getBetweenDate()}"></span>
            </div>


            <form th:action="@{/purchase}" th:method="get">
                <input type="hidden" name="itemId" th:value="*{id}">
                <div>
                    <button type="submit" class="btn btn-custom mt-2 w-100">주문하기</button>
                </div>
            </form>
            <!--        <div th:if="*{sold()}">-->
            <!--            <div href="#" class="btn btn-dark" disabled>판매완료</div>-->
            <!--        </div>-->

        </div>
    </div>


    <div class="border-dark border p-5 mt-3" style="min-height: 500px;">
        <!--        상품 설명-->
        <div class="font-title-ko">상품설명</div>
        <span th:text="${item.getDescription()}"></span>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
