<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<script th:inline="javascript">
    const favoriteToggle = () => {
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        const itemId = [[${item.getId()}]]
        $.ajax({
            url: "/favorite/toggle",
            method: "POST",
            data: {
                itemId: itemId
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token)
            }
        }).done(function (result, status, responseObj) {
            let btn = document.getElementById("favorite-btn")
            if (result === "add") {
                btn.style.borderColor = '#DB0A1F'
                btn.style.color = '#DB0A1F'
            }
            if (result === "delete") {
                btn.style.borderColor = '#2d2d2d'
                btn.style.color = '#2d2d2d'
            }
        })
    }

    const addCart = () => {
        const itemId = [[${item.getId()}]];
        const quantity = $('#quantity').val();
        $.ajax({
            url: "/cart/add",
            method: "GET",
            data: {
                itemId,
                quantity
            }
        }).done(function (res, status) {
            alert(res);
        })
    }

    const buy = () => {
        $('#items').val([[${item.getId()}]] + ":" + $('#quantity').val())
        $('#buy_submit').submit();
    }
</script>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container bg-white" style="width: 1000px;">
    <div class=" d-flex justify-content-between pt-4" th:object="${item}">

        <div style="width: 400px; height: 400px;"
             class="justify-content-center d-flex align-items-center border border-gray">
            <img class="w-100" th:src="${item.getCoverPhotoPath()}" alt="미리보기">

        </div>


        <div style="width: 500px;" class="">
            <div class="d-flex justify-content-between">
                <!--                상품 이름-->
                <div>
                    <div class="fs-4" th:text="*{name}">상품명</div>
                    <div>★★★★★4.8점 1,809개 상품평</div>

                </div>

                <button onclick="favoriteToggle()" id="favorite-btn"
                        class="rounded-circle d-flex jcc aic"
                        th:style="'width: 46px; height: 46px; border: solid 2px;' + ${favorite ? 'border-color: #DB0A1F; color: #DB0A1F' : 'border-color: #2d2d2d; color: #2d2d2d'}">
                    <span id="favorite-icon" class="material-icons md-36">favorite_border</span>
                </button>
            </div>

            <div class="d-flex">
                <div th:each="tag : *{tags}" style="margin-right: 4px;">
                    <!-- 태그 목록-->
                    <div class="badge main-color-bg rounded-pill" style="font-size: 11px;"
                         th:text="'# ' + ${tag.getTitle()}">
                        tag
                    </div>
                </div>
            </div>


            <div class="mt-4">
                <span class="fs-4 fw-bold" th:text="*{#numbers.formatInteger(price, 0, 'COMMA')}"></span>
                <span class="fs-5">원</span>
            </div>
            <div>
                <span>배송료</span>
                <span th:text="${shippingFee}"></span>
                <span>원</span>
            </div>


            <form id="buy_submit" th:action="@{/purchase}" th:method="get">
                <input type="hidden" name="items" id="items">
                <div class="d-flex align-items-center">
                    <input style="width: 90px;" id="quantity" type="number" class="form-control m-1" value="1">
                    <button type="button" onclick="addCart()" class="btn btn-custom mt-2 w-100 m-1">장바구니 담기</button>
                    <button type="button" onclick="buy()" class="btn btn-custom mt-2 w-100 m-1">바로 구매</button>
                </div>
            </form>
            <div th:text="*{'재고 ' + getQuantity() + '개 남음'}"></div>
            <!--        <div th:if="*{sold()}">-->
            <!--            <div href="#" class="btn btn-dark" disabled>판매완료</div>-->
            <!--        </div>-->

        </div>
    </div>


    <div class="border-gray border p-5 mt-3" style="min-height: 500px;">
        <!--        상품 설명-->
<!--        <span th:text="${item.getDescription()}"></span>-->
        <img class="w-100" th:src="${item.getPhotoPath()}" alt="상품 사진">
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
