<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<script>
    function openPopup() {
        new daum.Postcode({
            oncomplete: function (data) {
                let zonecode = document.getElementById("zonecode")
                zonecode.value = data.zonecode
                let roadAddress = document.getElementById("roadAddress")
                roadAddress.value = data.roadAddress
            }
        }).open();
    }

</script>
<div class="container pt-5" style="padding-left: 340px; padding-right: 340px;">
    <form th:action="@{/profile/address}" th:method="post" th:object="${addressForm}">

        <div class="container pt-5 pb-5 d-flex flex-column align-items-center border border-gray shadow-sm bg-white">

            <span class="font-title">edit address</span>

            <div class="mt-2 w-450">
                <span>우편번호</span>
                <div class="d-flex justify-content-between">
                    <input id="zonecode" type="text" class="form-control bg-white" style="width: 330px;" th:field="*{zoneCode}"
                           readonly>
                    <button type="button" onclick="openPopup()" id="modify" class="btn btn-custom-outline">주소
                        검색
                    </button>
                </div>
            </div>


            <div class="mt-2">
                <span>주소</span>
                <input id="roadAddress" type="text" class="form-control w-450 bg-white" th:field="*{roadAddress}"
                       placeholder="주소검색결과" readonly>
            </div>


            <div class="mt-2">
                <span>상세</span>
                <input type="text" class="form-control w-450" th:field="*{addressDetail}" placeholder="상세주소">
            </div>


            <button class="btn btn-custom w-450 mt-4" type="submit">저장</button>
        </div>

    </form>

</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>
