<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container">
    <form th:action="@{/password}" th:method="post">

        <h3>패스워드 변경</h3>
        <div>
            <label>기존 비밀번호</label>
            <input type="password" th:field="${passwordForm.password}" placeholder="기존 비밀번호">
        </div>
        <div>
            <label>새로운 비밀번호</label>
            <input type="password" th:field="${passwordForm.newPassword}" placeholder="새로운 비밀번호">
        </div>
        <button type="submit" class="btn btn-success">변경</button>

    </form>
</div>

</body>
</html>
