<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container pt-5" style="padding-left: 340px; padding-right: 340px;" th:object="${profileForm}">
    <form th:action="@{/profile/edit}" method="post">

        <div class="container pt-5 pb-5 d-flex flex-column align-items-center border border-gray shadow-sm bg-white">
            <span class="font-title">edit profile</span>



            <div class="mt-2">
                <span>별명</span>
                <input type="text" class="form-control" style="width: 450px;" th:field="*{nickname}" required>
            </div>


            <div class="mt-2">
                <span>전화번호</span>
                <input type="text" class="form-control" style="width: 450px;" th:field="*{phone}">
            </div>

            <div class="mt-2">
                <span>이메일</span>
                <input type="text" class="form-control" style="width: 450px;" th:field="*{email}" required>
            </div>


            <div class="mt-2" style="width: 450px;">
                <div>
                    <input type="checkbox" th:field="*{itemEnrollAlertByWeb}">
                    <label>웹으로 알림 받기</label>
                </div>
                <div>
                    <input type="checkbox" th:field="*{itemEnrollAlertByMail}">
                    <label>메일로 알림 받기</label>
                </div>
            </div>


            <button type="submit" style="width: 450px;" class="btn btn-custom mt-4">저장</button>
        </div>
    </form>

</div>
</body>
</html>
