<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container">
    <h3>태그 추가하기</h3>
    <div>등록된 태그</div>
    <div th:each="tag : ${tagList}">
        <span class="badge" th:text="${tag.getTitle()}">뱃지</span>
    </div>
    <form th:action="@{/profile/tag}" th:method="post">
        <input type="text" id="new-tag" name="new-tag">
        <button type="submit" value="저장">저장</button>
    </form>
    화이트리스트
    <div th:each="tag : ${whiteList}">
        <span class="badge" th:text="${tag.getTitle()}">뱃지</span>
    </div>
</div>

</body>
</html>
