<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container">
    <h3>알림 목록</h3>
    <div th:each="notice : ${notificationList}">
        <div class="mt-3"></div>
        제목 : <div th:text="${notice.getSubject()}">제목</div>
        내용 : <div th:text="${notice.getContent()}">내용</div>
        전송자 : <div th:text="${notice.getSender().getNickname()}">전송자 아이디</div>

    </div>
</div>
</body>
</html>
