<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header::header"></head>
<body>
<div th:fragment="chatting" sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        let ssrFlag = false;


        function chattingModalOpen() {
            $('#chattingModal').css("display", "block");
            $('#chattingModalButton').css("display", "none");
            if (!ssrFlag) {
                // 렌더링
                $.ajax({
                    url: "/chat",
                    method: "get",
                }).done(function (res, status) {
                    roomId = res;
                    getPreviousData()
                    connectStomp();
                    ssrFlag = true;
                })

            }
        }

        function chattingModalClose() {
            $('#chattingModal').css("display", "none");
            $('#chattingModalButton').css("display", "block");
        }

        let socket = null;
        let roomId = null;

        $(document).ready(function () {
            $('#button-send').on('click', function (evt) {
                let msg = $('input#msg').val();
                if (msg.length < 1) return;
                const messageObj = {
                    senderId: roomId,
                    roomId: roomId,
                    content: msg
                }
                console.log(messageObj)
                if (roomId != null) {
                    socket.send('/inquiry/' + roomId, {}, JSON.stringify(messageObj));
                    document.getElementById("msg").value = '';
                }
            })
        })

        function getPreviousData() {
            console.log("데이터를 불러옵니다.")
            console.log(roomId)
            $.ajax({
                url: "/chat/record/" + roomId,
                method: "GET"
            }).done(function (res) {
                console.log(res)
                for (const chat of res) {
                    drawChat(chat);
                }
                // 데이터 삽입
            })
        }

        function drawChat(chat) {
            /**
             * confirmed: false
             * content: "qwe"
             * sendDate: "2022-06-08T00:47:32.083933"
             * senderId: 1
             * senderNickName: "admin"
             */
            const position = roomId === chat.senderId ? "justify-content-end" : "";
            let str = "";
            str += '<div class="d-flex ' + position + '">' +
                '<div class="position-relative">' +
                '<div class="position-absolute">accountId->' + chat.senderId + '</div>' +
                '<div class="rounded-pill d-flex aic" style="padding: 6px 16px; margin: 15px 15px; background-color: lightskyblue">' +
                '<span>' + chat.content + '</span>' +
                '</div>' +
                '<div class="position-absolute" style="bottom: -3px; font-size: 14px; margin-left: 18px">5.8 11시</div>' +
                '</div>' +
                '</div>'
            $("#chat-area").append(str)
        }


        function connectStomp() {
            let sock = new SockJS("/inquiryStomp");
            let client = Stomp.over(sock);
            socket = client;

            client.connect({}, function () {
                // 해당 토픽을 구독한다!
                client.subscribe('/topic/message/' + roomId, function (event) {
                    let chat = JSON.parse(event.body);
                    drawChat(chat);
                })
            })
        }

    </script>
    <div class="position-fixed" style="bottom: 40px; right: 30px;">
        <div id="chattingModalButton" onclick="chattingModalOpen()"
             class="rounded-pill d-flex jcc aic"
             style="width: 130px; height: 60px; box-shadow: 1px 1px 5px #a2a2a2; background-color: rgba(255,255,255,0.97)">
            <span style="font-size: 18px;">문의하기</span>
            <img class="" style="width: 30px; height: 30px;"
                 th:src="@{/img/chat.png}" alt="문의하기">
        </div>
    </div>


    <div id="chattingModal" class="position-fixed p-3 rounded-3 shadow"
         style="display: none; bottom: 35px; right: 30px; width: 400px; height: 550px; z-index: 10; background-color: rgba(255,255,255,0.97);">
        <div class="d-flex justify-content-between">
            <div>채팅창</div>
            <div onclick="chattingModalClose()">
                <img th:src="@{/img/close.svg}" style="width: 26px;" alt="close">
            </div>
        </div>
        <div class="border border-gray" style=" width: 350px; height: 400px; overflow-y: scroll;">
            <div id="chat-area">
                <!-- 이전 데이터 출력 위치 -->
                <div class="d-flex">
                    <div class="position-relative">
                        <div class="position-absolute">mockUser</div>
                        <div class="rounded-pill d-flex aic"
                             style="padding: 10px 15px; margin: 15px 15px; background-color: #72c8ff">
                            <span>MOCK Content.</span>
                        </div>
                        <div class="position-absolute" style="bottom: -3px; font-size: 14px; margin-left: 18px">0.0 00시
                            00분
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div>
            <div id="msgArea"></div>
            <div>
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control" aria-label="Recipient's username"
                           aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
