

.font-serif {
  font-family: serif;
}

.font-sans-serif {
  font-family: sans-serif;
}

.font-title {
  font-family: serif;
  font-size: 40px;
  color: #383838;
}

.font-sub-title {
  font-family: sans-serif;
  color: #383838;
}
