h1 h2 h3 h4 h5 h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.border-gray {
  border-color: #BDBDBD !important;
}

.w-400 {
  width: 400px;
}

.w-450 {
  width: 450px;
}

a {
  text-decoration: none;
  outline: none;
  color: #1a1e21;
}

a:hover, a:active {
  text-decoration: none;
  color: #1a1e21;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.btn-custom {
  background-color: #56cfff;
  color: white;
  border-radius: 0;
}

.btn-custom-outline {
  border: solid 1px #56cfff;
  color: #003f52;
  border-radius: 0;
  background-color: white;
}
.btn-custom-outline:hover {
  background-color: #c3eeff;
  color: white;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

body {
  background-color: #F7F7F7;
}

.bg-gray {
  background-color: #F7F7F7;
}

.edit-btn:hover {
  color: #2886ab;
}
