<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body class="bg-gray">
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="d-flex justify-content-center" style="margin-top: 130px;">
    <div class="border border-gray shadow-sm rounded bg-white" style="padding: 40px;">
        <form th:action="@{/perform_login}" class="form-signin" method="post">
            <h2 class="w-100 text-center font-serif">Login</h2>

            <div class="form-group mt-3" style="width: 350px;">
                <div class="font-sub-title">ID</div>
                <input type="text" class="form-control" name="loginId" placeholder="아이디" required="required"
                       autofocus="autofocus">
            </div>


            <div class="form-group mt-3" style="width: 350px;">
                <div class="font-sub-title">PW</div>
                <input type="password" class="form-control" name="password" placeholder="비밀번호" required="required">
            </div>


            <div class="mt-1">
                <input type="checkbox" class="form-check-input" id="remember" name="remember">
                <label class="form-check-label" for="remember">로그인 상태 유지</label>
            </div>


            <div class="w-100 mt-3">
                <button type="submit" class="w-100 btn btn-custom">로그인</button>
            </div>

            <div class="mt-1">
                <a th:href="@{/help/find-id}">아이디 찾기</a>
                <span>|</span>
                <a th:href="@{/help/find-password}">비밀번호 찾기</a>
            </div>

            <div th:if="${param.error}" class="alert alert-danger mt-2" role="alert">
                <span>아이디 또는 비밀번호를 잘못 입력했습니다.</span>
                <br/>
                <span>입력하신 내용을 다시 확인해주세요.</span>
            </div>
        </form>


    </div>
</div>
</body>
</html>
