<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<script th:inline="javascript">

    function signup() {
        const pw = $("#password").val();
        const ch = $("#password-check").val();
        if (pw === ch) {
            $('#signup-form').submit();
        } else {
            $("#password-check-danger").text("비밀번호가 일치하지 않습니다.");
        }
    }

</script>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container d-flex justify-content-center">
    <div class="border border-gray d-flex flex-column aic shadow rounded bg-white"
         style="width:740px; margin-top: 30px; padding-bottom: 80px;">

        <span class="m-5 font-title">sign up</span>

        <form id="signup-form" th:action="@{/sign-up}" th:object="${signupForm}" method="post">
            <div class="">
                <div class="font-sub-title">ID</div>
                <input type="text" class="form-control w-450" th:field="*{loginId}" placeholder="아이디" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('loginId')}"
                       th:errors="*{loginId}"></small>
            </div>


            <div class="mt-4">
                <div class="font-sub-title">PW</div>
                <input id="password" type="password" class="form-control w-450" th:field="*{password}"
                       placeholder="비밀번호" data-minlength="6" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"></small>
            </div>

            <div class="mt-4">
                <div class="font-sub-title">PW - 확인</div>
                <input id="password-check" type="password" class="form-control w-450"
                       placeholder="비밀번호 확인" data-minlength="6" required>
                <small id="password-check-danger" class="form-text text-danger"></small>
            </div>


            <div class="mt-4">
                <div class="font-sub-title">Name</div>
                <input type="text" class="form-control w-450" th:field="*{username}" placeholder="이름" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}"></small>
            </div>


            <div class="mt-4">
                <div class="font-sub-title">Phone</div>
                <input type="tel" class="form-control w-450" th:field="*{phone}" placeholder="전화번호" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}"
                       th:errors="*{phone}"></small>
            </div>


            <div class="mt-4">
                <div class="font-sub-title">Email</div>
                <input type="email" class="form-control w-450" th:field="*{email}" placeholder="이메일" required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"></small>
            </div>


            <div style="margin-top: 60px;">
                <button type="button" class="btn btn-custom w-450" onclick="signup()">가입하기</button>
            </div>
        </form>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
