<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<nav th:replace="fragments/nav::main-nav"></nav>
<div class="container" th:object="${account}">
    <div class="mt-3"></div>
    <div>
        <h3>프로필 수정</h3>
        <div>
            <span>별명: </span>
            <input type="text" th:value="*{nickname}">
        </div>

        <div class="mt-3"></div>
        <h3>연락처 및 알림</h3>
        <div>
            <span>전화번호: </span>
            <input type="text" th:value="*{phone}">
        </div>
        <div>
            <span>이메일: </span>
            <input type="text" th:value="*{email}">
        </div>
        <a class="btn btn-primary" th:href="@{/profile}">저장</a>
    </div>
</div>
</body>
</html>
